body {
    background: linear-gradient(270deg, #108dc7, #ef8e38);
    background-size: 400% 400%;

    animation: TransientFading 16s ease infinite;
}

@keyframes TransientFading {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

#main_text {
    font-family: 'Secular One', sans-serif;
    color: white;
}

#default_heading {
    font-family: 'Secular One', sans-serif;
}

.recharts-cartesian-axis-tick {
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Secular One', sans-serif;
}

.rc-slider-handle {
    position: absolute;
    width: 20px;
    height: 20px;
    cursor: pointer;
    cursor: -webkit-grab;
    margin-top: -8px;
    cursor: grab;
    border-radius: 50%;
    border: solid 3px #0000FF;
    background-color: #fff;
    touch-action: pan-x;
}

.rc-slider-track {
    background-color: #0000FF;
    height: 5px;
    border-radius: 6px;
}

.rc-slider-handle:hover {
    border-color: #0000FF;
}

.rc-slider-handle:active {
    border-color: #0000FF;
    box-shadow: 0 0 5px #0000FF;
}

.rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
    border-color: #0000FF;
    box-shadow: 0 0 0 5px dodgerblue;
}

.rc-slider-dot-active {
    border-color: #0000FF;
}
